<style>
    textarea {
        resize: none;
    }
</style>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link active" id="pills-cim-tab" data-bs-toggle="pill" data-bs-target="#pills-cim"
                type="button" role="tab" aria-controls="pills-cim" aria-selected="true">
            CIM
        </button>
    </li>
    <li class="nav-item p-1" role="presentation">
        <button class="nav-link" id="pills-greentrans-tab" data-bs-toggle="pill" data-bs-target="#pills-greentrans"
                type="button" role="tab" aria-controls="pills-greentrans" aria-selected="false">
            GreenTrans
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <!-- cim -->
    <div style="height:800px;overflow-y: auto;overflow-x: hidden;" class="tab-pane fade show active bg-dark"
         id="pills-cim" role="tabpanel">
        <div class="row p-5">
            <!--GetFreshWorkOrder -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">取得當前工單號的相關參數</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtGetFreshWorkOrderResult" class="form-control" cols="30" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                    <a id="btnGetFreshWorkOrderResult" class="btn btn-primary">執行</a>
                </div>
            </div>
            <!--AGVStatus -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">AGVStatus [作業狀態回報]</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#agvstatus-parameter"
                                    type="button" role="tab">
                                Parameter
                            </button>
                        </li>
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#agvstatus-body"
                                    type="button" role="tab">
                                Body
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--AGVStatus - Parameter -->
                        <div class="tab-pane fade show active  " id="agvstatus-parameter" role="tabpanel">
                            <!-- AGVID -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVID (必填)</label>

                                <div class="col-sm-4">
                                    <select id="inAgvId" class="form-select">
                                        <option value="MR101">MR101</option>
                                        <option value="MR102">MR102</option>
                                        <option value="MR103">MR103</option>
                                    </select>
                                </div>
                            </div>
                            <!-- ELECTRICVOLUMN -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">ELECTRICVOLUMN (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inElectric" type="text" class="form-control" placeholder="ex: 0.66">
                                </div>
                            </div>
                            <!-- TASKTYPE -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">TASKTYPE (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inTaskType" type="text" class="form-control" placeholder="ex: S">
                                </div>
                            </div>
                            <!-- POSITION -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">POSITION (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inPosition" type="text" class="form-control" placeholder="ex: 2191">
                                </div>
                            </div>
                        </div>
                        <!--AGVStatus - Body -->
                        <div class="tab-pane fade show" id="agvstatus-body" role="tabpanel">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Body</label>
                                <div class="col-sm-6">
                                    <textarea id="txtAGVStatus" class="form-control" cols="30" rows="10"> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-dark btn-beautify">formatter</button>
                    <button id="btnAGVStatusQuery" class="btn btn-success">查詢/更新</button>
                    <a id="btnAGVStatus" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-10">
                            <textarea id="txtAGVStatusResult" class="form-control" cols="30" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--DockingCheck -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">DockingCheck [確認機台作業狀況]</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link active" data-bs-toggle="pill"
                                    data-bs-target="#dockingcheck-parameter" type="button" role="tab">
                                Parameter
                            </button>
                        </li>
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#dockingcheck-body"
                                    type="button" role="tab">
                                Body
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--DockingCheck - Parameter -->
                        <div class="tab-pane fade show active" id="dockingcheck-parameter" role="tabpanel">
                            <!-- EQPNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">EQPNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inEQPNAME1" class="form-select">
                                        <option value="E0065821">E0065821</option>
                                        <option value="E0064833">E0064833</option>
                                        <option value="E0052632">E0052632</option>
                                        <option value="E0124415">E0124415</option>
                                        <option value="E0076003">E0076003</option>
                                        <option value="E0039477">E0039477</option>
                                        <option value="E0130080">E0130080</option>
                                        <option value="E0076004">E0076004</option>
                                        <option value="E0092103">E0092103</option>
                                        <option value="E0081229">E0081229</option>
                                        <option value="E0083247">E0083247</option>
                                        <option value="E0127477">E0127477</option>
                                        <option value="E0124630">E0124630</option>
                                        <option value="E0121696">E0121696</option>
                                        <option value="E0124637">E0124637</option>
                                        <option value="E0066575">E0066575</option>
                                        <option value="E0067632">E0067632</option>
                                        <option value="E0075637">E0075637</option>
                                        <option value="E0078281">E0078281</option>
                                        <option value="E0075638">E0075638</option>
                                        <option value="E0064749">E0064749</option>
                                        <option value="E0075640">E0075640</option>
                                        <option value="E0078286">E0078286</option>
                                        <option value="E0076639">E0076639</option>
                                    </select>
                                </div>
                            </div>
                            <!-- AGVNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inAgvName1" class="form-select">
                                        <option value="MR101">MR101</option>
                                        <option value="MR102">MR102</option>
                                        <option value="MR103">MR103</option>
                                    </select>
                                </div>
                            </div>
                            <!-- PORT -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">PORT (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inPort1" type="text" class="form-control" placeholder="ex: 1">
                                </div>
                            </div>
                            <!-- AGVSTATUS -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVSTATUS (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inAgvStatus1" type="text" class="form-control" placeholder="ex: Put in">
                                </div>
                            </div>

                        </div>
                        <!--DockingCheck - Body -->
                        <div class="tab-pane fade show" id="dockingcheck-body" role="tabpanel">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Body</label>
                                <div class="col-sm-6">
                                    <textarea id="txtDockingCheck" class="form-control" cols="30" rows="10">

                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-dark btn-beautify">formatter</button>
                    <button id="btnDockingCheckQuery" class="btn btn-success">查詢/更新</button>
                    <a id="btnDockingCheck" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-10">
                            <textarea id="txtDockingCheckResult" class="form-control" cols="30" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--DockingStart -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">DockingStart [AGV車能否停靠機台]</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link active" data-bs-toggle="pill"
                                    data-bs-target="#dockingstart-parameter" type="button" role="tab">
                                Parameter
                            </button>
                        </li>
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#dockingstart-body"
                                    type="button" role="tab">
                                Body
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--DockingStart - Parameter -->
                        <div class="tab-pane fade show active" id="dockingstart-parameter" role="tabpanel">
                            <!-- EQPNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">EQPNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inEQPNAME2" class="form-select">
                                        <option value="E0065821">E0065821</option>
                                        <option value="E0064833">E0064833</option>
                                        <option value="E0052632">E0052632</option>
                                        <option value="E0124415">E0124415</option>
                                        <option value="E0076003">E0076003</option>
                                        <option value="E0039477">E0039477</option>
                                        <option value="E0130080">E0130080</option>
                                        <option value="E0076004">E0076004</option>
                                        <option value="E0092103">E0092103</option>
                                        <option value="E0081229">E0081229</option>
                                        <option value="E0083247">E0083247</option>
                                        <option value="E0127477">E0127477</option>
                                        <option value="E0124630">E0124630</option>
                                        <option value="E0121696">E0121696</option>
                                        <option value="E0124637">E0124637</option>
                                        <option value="E0066575">E0066575</option>
                                        <option value="E0067632">E0067632</option>
                                        <option value="E0075637">E0075637</option>
                                        <option value="E0078281">E0078281</option>
                                        <option value="E0075638">E0075638</option>
                                        <option value="E0064749">E0064749</option>
                                        <option value="E0075640">E0075640</option>
                                        <option value="E0078286">E0078286</option>
                                        <option value="E0076639">E0076639</option>
                                    </select>
                                </div>
                            </div>
                            <!-- AGVNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inAgvName2" class="form-select">
                                        <option value="MR101">MR101</option>
                                        <option value="MR102">MR102</option>
                                        <option value="MR103">MR103</option>
                                    </select>
                                </div>
                            </div>
                            <!-- PORT -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">PORT (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inPort2" type="text" class="form-control" placeholder="ex: 1">
                                </div>
                            </div>
                            <!-- AGVSTATUS -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVSTATUS (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inAgvStatus2" type="text" class="form-control" placeholder="ex: Put in">
                                </div>
                            </div>

                        </div>
                        <!--DockingStart - Body -->
                        <div class="tab-pane fade show" id="dockingstart-body" role="tabpanel">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Body</label>
                                <div class="col-sm-6">
                                    <textarea id="txtDockingStart" class="form-control" cols="30" rows="10">

                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-dark btn-beautify">formatter</button>
                    <button id="btnDockingStartQuery" class="btn btn-success">查詢/更新</button>
                    <a id="btnDockingStart" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-10">
                            <textarea id="txtDockingStartResult" class="form-control" cols="30" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--DockingEnd -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">DockingEnd [AGV車能否結束停靠機台]</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" role="tablist">
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#dockingend-parameter"
                                    type="button" role="tab">
                                Parameter
                            </button>
                        </li>
                        <li class="nav-item p-1" role="presentation">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#dockingend-body"
                                    type="button" role="tab">
                                Body
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--DockingEnd - Parameter -->
                        <div class="tab-pane fade show active" id="dockingend-parameter" role="tabpanel">
                            <!-- EQPNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">EQPNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inEQPNAME3" class="form-select">
                                        <option value="E0065821">E0065821</option>
                                        <option value="E0064833">E0064833</option>
                                        <option value="E0052632">E0052632</option>
                                        <option value="E0124415">E0124415</option>
                                        <option value="E0076003">E0076003</option>
                                        <option value="E0039477">E0039477</option>
                                        <option value="E0130080">E0130080</option>
                                        <option value="E0076004">E0076004</option>
                                        <option value="E0092103">E0092103</option>
                                        <option value="E0081229">E0081229</option>
                                        <option value="E0083247">E0083247</option>
                                        <option value="E0127477">E0127477</option>
                                        <option value="E0124630">E0124630</option>
                                        <option value="E0121696">E0121696</option>
                                        <option value="E0124637">E0124637</option>
                                        <option value="E0066575">E0066575</option>
                                        <option value="E0067632">E0067632</option>
                                        <option value="E0075637">E0075637</option>
                                        <option value="E0078281">E0078281</option>
                                        <option value="E0075638">E0075638</option>
                                        <option value="E0064749">E0064749</option>
                                        <option value="E0075640">E0075640</option>
                                        <option value="E0078286">E0078286</option>
                                        <option value="E0076639">E0076639</option>
                                    </select>
                                </div>
                            </div>
                            <!-- AGVNAME -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVNAME (必填)</label>
                                <div class="col-sm-4">
                                    <select id="inAgvName3" class="form-select">
                                        <option value="MR101">MR101</option>
                                        <option value="MR102">MR102</option>
                                        <option value="MR103">MR103</option>
                                    </select>
                                </div>
                            </div>
                            <!-- PORT -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">PORT (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inPort3" type="text" class="form-control" placeholder="ex: 1">
                                </div>
                            </div>
                            <!-- AGVSTATUS -->
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">AGVSTATUS (必填)</label>
                                <div class="col-sm-4">
                                    <input id="inAgvStatus3" type="text" class="form-control" placeholder="ex: Put in">
                                </div>
                            </div>

                        </div>
                        <!--DockingEnd - Body -->
                        <div class="tab-pane fade show" id="dockingend-body" role="tabpanel">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Body</label>
                                <div class="col-sm-6">
                                    <textarea id="txtDockingEnd" class="form-control" cols="30" rows="10">

                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-dark btn-beautify">formatter</button>
                    <button id="btnDockingEndQuery" class="btn btn-success">查詢/更新</button>
                    <a id="btnDockingEnd" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-10">
                            <textarea id="txtDockingEndResult" class="form-control" cols="30" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- greentrans -->
    <div style="height:800px;overflow-y: auto;overflow-x: hidden;" class="tab-pane fade bg-dark" id="pills-greentrans"
         role="tabpanel">
        <div class="row p-5">
            <!--agv/dispatch -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">agv/dispatch [車輛派發]</h5>
                </div>
                <div id="agvDispatch" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">vehicle 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="vehicle" type="text" class="form-control" placeholder="ex: 1">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">destination 目標點位(必填)</label>
                        <div class="col-sm-4">
                            <input id="destination" type="text" class="form-control" placeholder="ex: 333">
                        </div>
                    </div>
                    <a id="btnAgvDispatch" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtAgvDispatch" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--agv/info -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">agv/info [車輛狀態查詢]</h5>
                </div>
                <div id="agvInfo" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">vehicle 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="vehicle" type="text" class="form-control" placeholder="ex: 1">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">destination 目標點位(必填)</label>
                        <div class="col-sm-4">
                            <input id="destination" type="text" class="form-control" placeholder="ex: 333">
                        </div>
                    </div>
                    <a id="btnAgvInfo" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtAgvInfo" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/getEmpty -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/getEmpty [取得貨架上空儲位]</h5>
                </div>
                <div id="rackGetEmpty" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">group 群組代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="group" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">rack 貨架代碼(選填)</label>
                        <div class="col-sm-4">
                            <input id="rack" type="text" class="form-control" placeholder="ex: RK101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">task 工單編號</label>
                        <div class="col-sm-4">
                            <input id="task" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">station 來源站點</label>
                        <div class="col-sm-4">
                            <input id="station" type="text" class="form-control">
                        </div>
                    </div>
                    <a id="btnRackGetEmpty" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackGetEmpty" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/moveIn -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/moveIn [物料資訊入倉(寫入)]</h5>
                </div>
                <div id="rackMoveIn" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">cell 儲位代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="cell" type="text" class="form-control" placeholder="ex: RK101A01">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">tag 物料編號(RFID)</label>
                        <div class="col-sm-4">
                            <input id="tag" type="text" class="form-control" placeholder="ex: FO000058T">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">lot 貨批編號</label>
                        <div class="col-sm-4">
                            <input id="lot" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">task 工單編號</label>
                        <div class="col-sm-4">
                            <input id="task" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">station 來源站點</label>
                        <div class="col-sm-4">
                            <input id="station" type="text" class="form-control">
                        </div>
                    </div>
                    <a id="btnRackMoveIn" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackMoveIn" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/findProduct -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/findProduct [以物料資訊查詢所在物料所在儲格資訊]</h5>
                </div>
                <div id="rackFindProduct" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">group 群組代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="group" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">rack 貨架代碼(選填, 可指定)</label>
                        <div class="col-sm-4">
                            <input id="rack" type="text" class="form-control" placeholder="ex: RK101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">tag 物料編號(RFID)(必填)</label>
                        <div class="col-sm-4">
                            <input id="tag" type="text" class="form-control" placeholder="ex: FO000058T">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">type 物料型態(選填, 可指定)</label>
                        <div class="col-sm-4">
                            <input id="type" type="text" class="form-control">
                        </div>
                    </div>
                    <a id="btnRackFIndProduct" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackFIndProduct" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/moveOut -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">
                        rack/moveOut [物料資訊出倉(清除)]
                    </h5>
                </div>
                <div id="rackMoveOut" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">cell 儲位代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="cell" type="text" class="form-control" placeholder="ex: RK101A01">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">tag 物料編號(RFID)(必填)</label>
                        <div class="col-sm-4">
                            <input id="tag" type="text" class="form-control" placeholder="ex: FO000058T">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">
                            force
                            true: 強制移出(選填)
                            false: 檢查移出資料正確性(預
                            設)
                        </label>
                        <div class="col-sm-4">
                            <input id="force" type="text" class="form-control">
                        </div>
                    </div>
                    <a id="btnRackMoveOut" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackMoveOut" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/setInfo -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/setInfo [設定儲格狀態]</h5>
                </div>
                <div id="rackSetInfo" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">cell 儲位代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="cell" type="text" class="form-control" placeholder="ex: RK101A01">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">status 狀態文字(必填)</label>
                        <div class="col-sm-4">
                            <input id="status" type="text" class="form-control">
                        </div>
                    </div>
                    <a id="btnRackSetInfo" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackSetInfo" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/getInfo -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/getInfo [取得儲格狀態]</h5>
                </div>
                <div id="rackGetInfo" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">cell 儲位代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="cell" type="text" class="form-control" placeholder="ex: RK101A01">
                        </div>
                    </div>
                    <a id="btnRackGetInfo" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackGetInfo" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--rack/release -->
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">rack/release [釋放被鎖定的儲格]</h5>
                </div>
                <div id="rackRelease" class="card-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">origin 車輛代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="origin" type="text" class="form-control" placeholder="ex: MR101">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">cell 儲位代碼(必填)</label>
                        <div class="col-sm-4">
                            <input id="cell" type="text" class="form-control" placeholder="ex: RK101A01">
                        </div>
                    </div>
                    <a id="btnRackRelease" class="btn btn-primary">執行</a>
                </div>
                <div class="card-footer">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">結果</label>
                        <div class="col-sm-6">
                            <textarea id="txtRackRelease" class="form-control" cols="20" rows="10" readonly>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        let url = location.protocol + '//' + location.host;
        const greentran_agv_api = "http://172.20.39.237:3004";
        const greentran_rack_api = "http://172.20.39.237:3003";
        //const greentran_buffer_api = "";

        const agvIP = {
            "MR101": "172.20.95.41",
            "MR102": "172.20.95.42",
            "MR103": "172.20.95.43"
        }

        const eqpID = {
            "E0065821": "ASE21-2190-A01",
            "E0064833": "ASE21-2190-B01",
            "E0052632": "ASE21-2195-A01",
            "E0124415": "ASE21-2195-D01",
            "E0076003": "ASE21-2195-C01",
            "E0039477": "ASE21-2395-A01",
            "E0130080": "ASE21-2195-E01",
            "E0076004": "ASE21-2395-B01",
            "E0092103": "ASE21-FE99-A001",
            "E0081229": "ASE21-2450-A01",
            "E0083247": "ASE21-2400-B04",
            "E0127477": "ASE21-2400-D04",
            "E0124630": "ASE21-2400-D03",
            "E0121696": "ASE21-2400-D02",
            "E0124637": "ASE21-2400-D01",
            "E0066575": "ASE21-2400-A03",
            "E0067632": "ASE21-2400-A02",
            "E0075637": "ASE21-2400-A01",
            "E0078281": "ASE21-2400-C01",
            "E0075638": "ASE21-2400-B01",
            "E0064749": "ASE21-2400-C02",
            "E0075640": "ASE21-2400-B02",
            "E0078286": "ASE21-2400-C03",
            "E0076639": "ASE21-2400-B03",
        }

        document.addEventListener("DOMContentLoaded", async function (event) {
 
        });

        $(".btn-beautify").click(function (e) {
            beautifyFormatter("txtAGVStatus");
            beautifyFormatter("txtDockingCheck");
            beautifyFormatter("txtDockingStart");
            beautifyFormatter("txtDockingEnd");
        });

        $("#btnExample").click(function (e) {
            let parameters = {
                isTrue: true,
                title: "成功",
                text: "回傳參數"
            };

            swalTip(parameters);
        });


        //***********
        // CIM
        //***********

        /**
        * GetFreshWorkderOrder
        */
        $("#btnGetFreshWorkOrderResult").click(async function (e) {
            var request = "";
            console.log(url)
            let parameters = {
                url: url + "/CIM/GetLastWorkOrder",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            };
            var result = await jqHttpPost(parameters.url, parameters.data);
 
            ResponseFormatter("txtGetFreshWorkOrderResult", result);
        });


        /**
         * AGVStatus
         */
        $("#btnAGVStatusQuery").click(async function (e) {
            let agvid = document.getElementById("inAgvId").value;
            let eletric = document.getElementById("inElectric").value;
            let taskType = document.getElementById("inTaskType").value;
            let position = document.getElementById("inPosition").value;

            let request = "";
            console.log(url)
            let parameters = {
                url: url + "/CIM/GetLastWorkOrder",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            };
            var result = await jqHttpPost(parameters.url, parameters.data);

            var obj =
            {
                "TIMESTAMP": result.timestamp,
                "TASKNAME": result.task_name,
                "AGVID": agvid,
                "ELECTRICVOLUMN": eletric,
                "TASKTYPE": taskType,
                "LOTID": result.lot_id,
                "POSITION": position,
                "ERRMSG": ""
            }

            document.getElementById("txtAGVStatus").value = JSON.stringify(obj, undefined, 4);
        });

        $("#btnAGVStatus").click(async function (e) {
            let request = document.getElementById("txtAGVStatus").value;

            let parameters = {
                url: url + "/CIM/AGVStatus",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            };

            var response = await jqHttpPost(parameters.url, parameters.data);
            //swalTip(parameters);
            ResponseFormatter("txtAGVStatusResult", response.data);
        });

        //DockingCheck
        $("#btnDockingCheckQuery").click(async function (e) {
            let eqpName = document.getElementById("inEQPNAME1").value;
            let eqpId = "";
            let agvName = document.getElementById("inAgvName1").value;
            let agvIp = "";
            let port = document.getElementById("inPort1").value;
            let agvStatus = document.getElementById("inAgvStatus1").value;

            switch (eqpName) {
                case "E0065821":
                    eqpId = eqpID.E0065821;
                    break;
                case "E0064833":
                    eqpId = eqpID.E0064833;
                    break;
                case "E0052632":
                    eqpId = eqpID.E0052632;
                    break;
                case "E0124415":
                    eqpId = eqpID.E0124415;
                    break;
                case "E0076003":
                    eqpId = eqpID.E0076003;
                    break;
                case "E0039477":
                    eqpId = eqpID.E0039477;
                    break;
                case "E0130080":
                    eqpId = eqpID.E0130080;
                    break;
                case "E0076004":
                    eqpId = eqpID.E0076004;
                    break;
                case "E0092103":
                    eqpId = eqpID.E0092103;
                    break;
                case "E0081229":
                    eqpId = eqpID.E0081229;
                    break;
                case "E0083247":
                    eqpId = eqpID.E0083247;
                    break;
                case "E0127477":
                    eqpId = eqpID.E0127477;
                    break;
                case "E0124630":
                    eqpId = eqpID.E0124630;
                    break;
                case "E0121696":
                    eqpId = eqpID.E0121696;
                    break;
                case "E0124637":
                    eqpId = eqpID.E0124637;
                    break;
                case "E0066575":
                    eqpId = eqpID.E0066575;
                    break;
                case "E0067632":
                    eqpId = eqpID.E0067632;
                    break;
                case "E0075637":
                    eqpId = eqpID.E0075637;
                    break;
                case "E0078281":
                    eqpId = eqpID.E0078281;
                    break;
                case "E0075638":
                    eqpId = eqpID.E0075638;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0075640":
                    eqpId = eqpID.E0075640;
                    break;
                case "E0078286":
                    eqpId = eqpID.E0078286;
                    break;
                case "E0076639":
                    eqpId = eqpID.E0076639;
                    break;
            }

            switch (agvName) {
                case "MR101":
                    agvIp = agvIP.MR101;
                    break;
                case "MR102":
                    agvIp = agvIP.MR102;
                    break;
                case "MR103":
                    agvIp = agvIP.MR103;
                    break;
            }

            var obj =
            {
                "EQPNAME": eqpName,
                "EQPID": eqpId,
                "AGVNAME": agvName,
                "AGVIP": agvIp,
                "port": port,
                "AGVSTATUS": agvStatus
            }

            document.getElementById("txtDockingCheck").value = JSON.stringify(obj, undefined, 4);
        });

        $("#btnDockingCheck").click(async function (e) {
            let request = document.getElementById("txtDockingCheck").value;
            let parameters = {
                url: url + "/CIM/DockingCheck",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            //swalTip(parameters);
            ResponseFormatter("txtDockingCheckResult", response.data);
        });

        //DockingStart
        $("#btnDockingStartQuery").click(async function (e) {
            let eqpName = document.getElementById("inEQPNAME2").value;
            let eqpId = "";
            let agvName = document.getElementById("inAgvName2").value;
            let agvIp = "";
            let port = document.getElementById("inPort2").value;
            let agvStatus = document.getElementById("inAgvStatus2").value;

            switch (eqpName) {
                case "E0065821":
                    eqpId = eqpID.E0065821;
                    break;
                case "E0064833":
                    eqpId = eqpID.E0064833;
                    break;
                case "E0052632":
                    eqpId = eqpID.E0052632;
                    break;
                case "E0124415":
                    eqpId = eqpID.E0124415;
                    break;
                case "E0076003":
                    eqpId = eqpID.E0076003;
                    break;
                case "E0039477":
                    eqpId = eqpID.E0039477;
                    break;
                case "E0130080":
                    eqpId = eqpID.E0130080;
                    break;
                case "E0076004":
                    eqpId = eqpID.E0076004;
                    break;
                case "E0092103":
                    eqpId = eqpID.E0092103;
                    break;
                case "E0081229":
                    eqpId = eqpID.E0081229;
                    break;
                case "E0083247":
                    eqpId = eqpID.E0083247;
                    break;
                case "E0127477":
                    eqpId = eqpID.E0127477;
                    break;
                case "E0124630":
                    eqpId = eqpID.E0124630;
                    break;
                case "E0121696":
                    eqpId = eqpID.E0121696;
                    break;
                case "E0124637":
                    eqpId = eqpID.E0124637;
                    break;
                case "E0066575":
                    eqpId = eqpID.E0066575;
                    break;
                case "E0067632":
                    eqpId = eqpID.E0067632;
                    break;
                case "E0075637":
                    eqpId = eqpID.E0075637;
                    break;
                case "E0078281":
                    eqpId = eqpID.E0078281;
                    break;
                case "E0075638":
                    eqpId = eqpID.E0075638;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0075640":
                    eqpId = eqpID.E0075640;
                    break;
                case "E0078286":
                    eqpId = eqpID.E0078286;
                    break;
                case "E0076639":
                    eqpId = eqpID.E0076639;
                    break;
            }

            switch (agvName) {
                case "MR101":
                    agvIp = agvIP.MR101;
                    break;
                case "MR102":
                    agvIp = agvIP.MR102;
                    break;
                case "MR103":
                    agvIp = agvIP.MR103;
                    break;
            }

            var obj =
            {
                "EQPNAME": eqpName,
                "EQPID": eqpId,
                "AGVNAME": agvName,
                "AGVIP": agvIp,
                "port": port,
                "AGVSTATUS": agvStatus
            }

            document.getElementById("txtDockingStart").value = JSON.stringify(obj, undefined, 4);
        });
        $("#btnDockingStart").click(async function (e) {
            let request = document.getElementById("txtDockingStart").value;
            let parameters = {
                url: url + "/CIM/DockingStart",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            //swalTip(parameters);
            ResponseFormatter("txtDockingStartResult", response.data);

        });

        //DockingEnd
        $("#btnDockingEndQuery").click(async function (e) {
            let eqpName = document.getElementById("inEQPNAME3").value;
            let eqpId = "";
            let agvName = document.getElementById("inAgvName3").value;
            let agvIp = "";
            let port = document.getElementById("inPort3").value;
            let agvStatus = document.getElementById("inAgvStatus3").value;

            switch (eqpName) {
                case "E0065821":
                    eqpId = eqpID.E0065821;
                    break;
                case "E0064833":
                    eqpId = eqpID.E0064833;
                    break;
                case "E0052632":
                    eqpId = eqpID.E0052632;
                    break;
                case "E0124415":
                    eqpId = eqpID.E0124415;
                    break;
                case "E0076003":
                    eqpId = eqpID.E0076003;
                    break;
                case "E0039477":
                    eqpId = eqpID.E0039477;
                    break;
                case "E0130080":
                    eqpId = eqpID.E0130080;
                    break;
                case "E0076004":
                    eqpId = eqpID.E0076004;
                    break;
                case "E0092103":
                    eqpId = eqpID.E0092103;
                    break;
                case "E0081229":
                    eqpId = eqpID.E0081229;
                    break;
                case "E0083247":
                    eqpId = eqpID.E0083247;
                    break;
                case "E0127477":
                    eqpId = eqpID.E0127477;
                    break;
                case "E0124630":
                    eqpId = eqpID.E0124630;
                    break;
                case "E0121696":
                    eqpId = eqpID.E0121696;
                    break;
                case "E0124637":
                    eqpId = eqpID.E0124637;
                    break;
                case "E0066575":
                    eqpId = eqpID.E0066575;
                    break;
                case "E0067632":
                    eqpId = eqpID.E0067632;
                    break;
                case "E0075637":
                    eqpId = eqpID.E0075637;
                    break;
                case "E0078281":
                    eqpId = eqpID.E0078281;
                    break;
                case "E0075638":
                    eqpId = eqpID.E0075638;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0064749":
                    eqpId = eqpID.E0064749;
                    break;
                case "E0075640":
                    eqpId = eqpID.E0075640;
                    break;
                case "E0078286":
                    eqpId = eqpID.E0078286;
                    break;
                case "E0076639":
                    eqpId = eqpID.E0076639;
                    break;
            }

            switch (agvName) {
                case "MR101":
                    agvIp = agvIP.MR101;
                    break;
                case "MR102":
                    agvIp = agvIP.MR102;
                    break;
                case "MR103":
                    agvIp = agvIP.MR103;
                    break;
            }

            var obj =
            {
                "EQPNAME": eqpName,
                "EQPID": eqpId,
                "AGVNAME": agvName,
                "AGVIP": agvIp,
                "port": port,
                "AGVSTATUS": agvStatus
            }

            document.getElementById("txtDockingEnd").value = JSON.stringify(obj, undefined, 4);
        });

        $("#btnDockingEnd").click(async function (e) {
            let request = document.getElementById("txtDockingEnd").value;
            let parameters = {
                url: url + "/CIM/DockingEnd",
                data: request.replace(/(?:\r\n|\r|\n)/g, ''),
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            //swalTip(parameters);
            ResponseFormatter("txtDockingEndResult", response.data);
        });


        //***********
        // GreenTrans API(未完成)
        //***********

        //agvDispatch
        $("#btnAgvDispatch").click(async function (e) {
            const inputs = document.querySelectorAll('#agvDispatch input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }
 
            let parameters = {
                url: `${ greentran_agv_api }/agv/dispatch`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtAgvDispatch", response);
        });

        //agv/info
        $("#btnAgvInfo").click(async function (e) {
            const inputs = document.querySelectorAll('#agvInfo input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_agv_api }/agv/Info`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtAgvInfo", response);
        });
        //rack/getEmpty
        $("#btnRackGetEmpty").click(async function (e) {
            const inputs = document.querySelectorAll('#rackGetEmpty input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/getEmpty`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackGetEmpty", response);
        });
        //rack/moveIn
        $("#btnRackMoveIn").click(async function (e) {
            const inputs = document.querySelectorAll('#rackMoveIn input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/moveIn`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackMoveIn", response);
        });
        //rack/findProduct
        $("#btnRackFIndProduct").click(async function (e) {
            const inputs = document.querySelectorAll('#rackFindProduct input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/findProduct`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackFIndProduct", response);
        });
        //rack/moveOut
        $("#btnRackMoveOut").click(async function (e) {
            const inputs = document.querySelectorAll('#rackMoveOut input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/moveOut`,
                data: object,
            }

            console.log(parameters);
            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackMoveOut", response);
        });
        //rack/setInfo
        $("#btnRackSetInfo").click(async function (e) {
            const inputs = document.querySelectorAll('#rackSetInfo input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/setInfo`,
                data: object,
            }

            console.log(parameters);
            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackSetInfo", response);
        });
        //rack/getInfo
        $("#btnRackGetInfo").click(async function (e) {
            const inputs = document.querySelectorAll('#rackGetInfo input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/getInfo`,
                data: object,
            }

            console.log(parameters);
            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackGetInfo", response);
        });
        //rack/release
        $("#btnRackRelease").click(async function (e) {
            const inputs = document.querySelectorAll('#rackRelease input');
            let object = {};
            for (var i = 0; i < inputs.length; i++) {
                object[inputs[i].id] = inputs[i].value;
            }

            let parameters = {
                url: `${ greentran_rack_api }/rack/release`,
                data: object,
            }

            var response = await jqHttpPost(parameters.url, parameters.data);
            ResponseFormatter("txtRackRelease", response);
        });

    </script>
}
