 

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-cim-tab" data-bs-toggle="pill" data-bs-target="#pills-cim"
            type="button" role="tab" aria-controls="pills-cim" aria-selected="true">CIM</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-greentrans-tab" data-bs-toggle="pill" data-bs-target="#pills-greentrans"
            type="button" role="tab" aria-controls="pills-greentrans" aria-selected="false">GreenTrans</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <!-- cim -->
    <div style="height:800px;overflow-y: auto;overflow-x: hidden;" class="tab-pane fade show active bg-dark" id="pills-cim" role="tabpanel">
        <div class="row p-5">
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
             <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-100 text-dark bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
    <!-- greentrans -->
    <div class="tab-pane fade" id="pills-greentrans" role="tabpanel">

    </div>
</div>
 